@using Dextra.Helpers
@{
    ViewBag.FormId = "Fid_HomeIndex";
    ViewBag.Title = ViewBag.FormId;
    Layout = "~/Views/Shared/_Layout" + ViewBag.Layout + ".cshtml";
}
@section scripts {
    var Appselector= '@ViewBag.Appselector';
    @Html.ServerSideInclude("~/Views/Home/"+ (String)ViewBag.Appselector + "/"+ (String)ViewBag.Appselector + "Index.js")
    LangDictionary = $.extend(LangDictionary, @Html.GetLangdictionaryToClient("Fid_HomeIndex"));
}
@helper L(string title)
{
    @Html.Lang(title, (string)ViewBag.FormId);
}

<style>

</style>

<div class="row">

    <div class="col-1">
 
    </div>
    <div class="col-10">

        @Html.Partial((String)ViewBag.Appselector+"/_Partial"+ (String)ViewBag.Appselector+"Home")

    </div>
    <div class="col-1"></div>
</div>


