@using Dextra.Helpers
@using Xapp.Models
@model LoginViewModel
@{
    ViewBag.FormId = "Fid_AccountLogin";
    ViewBag.Title = ViewBag.FormId;
    Layout = "~/Views/Shared/_Layout" + ViewBag.Layout + ".cshtml";

}
@helper L(string title)
{
    @Html.Lang(title, (string)ViewBag.FormId);
}


@section scripts {

    @Html.ServerSideInclude("~/Views/Account/Login.js")
    LangDictionary = $.extend(LangDictionary, @Html.GetLangdictionaryToClient("Fid_AccountLogin"));
}


<style>

</style>







<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">



        <div class="card border-info loginCard" style="margin-top:100px;">
            <div class="card-header">@L("Login")</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img src="~/Content/images/loigface1.png" style="width:128px;" class="rounded" alt="welcome"> 
                        <h4 class="text-center"><small class="">@L("Welcome")!</small></h4>
                    </div>
                    <div class="col-md-8">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", id = "loginForm", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <input class="form-control mb-2" autofocus="" type="text" placeholder="@L("Username")" id="Email" name="Email" >
                            <input class="form-control mb-2"  type="password" placeholder="@L("Password")"  id="Password" name="Password">
                            <button class="btn btn-lg btn-primary btn-block mb-1" type="button" id="sendButton" name="sendButton">@L("Login")</button>
                        }
                    </div>
                </div>

                @if(!ViewData.ModelState.IsValid)
                {
                <div class="card-footer" id="errorLogin">
                    <div class="alert alert-primary" role="alert">
                        <strong>@L("LoginError")!</strong>&nbsp;  @L("LoginError1")
                    </div>
                </div>
                }

            </div>
        </div>





    </div>
    <div class="col-md-3"></div>
</div>


