@model  Xapp.Controllers.NbszModel1
@using Dextra.Helpers
@{
    ViewBag.FormId = "Fid_HomeIndex";
    ViewBag.Title = "Index";
}
@section scripts {
    
    var probadict= $.extend(LangDictionary, @Html.GetLangdictionaryToClient("Xszenyor"));
    @Html.ServerSideInclude("~/Views/Xszenyor/Index.js")
}
@helper L(string title)
{
    @Html.Lang(title, (string)ViewBag.FormId);
}
<style>
    .active {
        color:red;
    }
</style>



<div class="row">
    <div class="col-6">
        @Model.rendered1
    </div>
    <div class="col-6">
        @Model.rendered
    </div>

</div>
    
    