@using Dextra.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Application</title>
    @RenderPage("basepart/_styles.cshtml")

    <link href="~/Content/SiteDefault.css" rel="stylesheet" />
</head>
@helper L(string title)
{
    @Html.Lang(title, (string)ViewBag.FormId);
}

<body style="background-color:gainsboro;">
    <embed src="~/Content/Beep.mp3" autostart="false" width="0" height="0" id="beep" enablejavascript="true">
    <div id="bcontainer" class="container-fluid" style="background-color:white;padding-top:5px;">
        <nav class="navbar  navbar-light bg-light navbar-expand-md">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggler">
                <span class="sr-only">@L("Toggle navigation")</span>
                &#x2630;

            </button>
            <a class="navbar-brand" href="#">
                <img src="~/Content/images/dextra_logo.jpg" style="display: inline-block;height:25px;">
            </a>
            <div id="navbarCollapse" class="collapse navbar-collapse" style="font-size:12px;">
                <ul id="dashnav" class="nav navbar-nav"></ul>
            </div>
            @Html.Partial("_LoginPartial")

            <div id="GNotificationcontainer"></div>
        </nav>
        <div class="row" style="border:1px solid #d7e0ef;margin:1px;">
            <div class="col-md-1">
                <i id="ViewErrors" class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip"
                   data-placement="top" title="@L(" Info Messages ")"></i>
                <div id="GmessageNotification">
                    <div id="GmessageNotificationMessage" style="overflow:auto;text-align:left;"></div>
                </div>
            </div>
            <div class="col-md-11">
                <div id="jqxProgressBar" style="overflow:hidden;"></div>
            </div>
        </div>
        <div id="IdBodyStart" style="height:700px;border:0px solid grey;background-color:none;">
            <div id="BodyLoaderStart"></div>
            <div class="col-4 mx-auto"
                 style="padding-top:200px;text-align:center;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:x-large;">
                @L("Loading...")
            </div>
        </div>
        <div id="IdBody" class="container-fluid" style="min-height:700px;display:none;">
            @RenderBody()
        </div>
        <div id="BodyLoader"></div>
        <footer style="border-top:1px solid grey;">
            <blockquote class="blockquote text-center">
                <small class="">d&apos;Extra-Line Kft.</small>
            </blockquote>
        </footer>
    </div>
    @Html.Partial("basepart/_GeneralPopUp")
    @RenderPage("basepart/_scripts.cshtml")

    @RenderPage("basepart/_javascript1.cshtml")

    <script>
        function GetUserName() {var objUserInfo = new ActiveXObject("WScript.network");var uname = objUserInfo.UserName;};        //GetUserName();
        $(document).ready(function () {
            try {
                @RenderPage("basepart/_javascript2.cshtml")
            } catch (err) {
                alert(err);
            }

            @RenderSection("scripts", required: false);
        });
    </script>
</body>
</html>